img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    padding: 30px;
    outline-color: blue;
    outline-width: 30px;
}

.welcome {
    font-weight: bold;
    font-size: 100px;
    color: aqua;

}

.instyleh2 {
    color: aqua;

}

.div1 {
    color: brown;
    ;
}

.NKlink {
    color: rgb(0, 68, 255);
}

.welcome {
    color: antiquewhite;
}

.logo {
    border-radius: 8px;
    width: auto;
    padding-left: auto;
    /* position: relative; */
}